
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


.search {
  background-color: #f5f5f5;

}

.main-search {
  display: inline-block;
  float: left;
  margin-top: 14px;
}

.octicon {


}

.search-bar {
  display: inline-block;
  border-radius: 5px;

}

#new-search {

}

#search-bar {
  display: inline-block;

}

.top-links {
  color: #333;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
}

.top-links a:hover {
  color: #4078c0;
  text-decoration: none;
}

.new-options {
  display: inline-block;
  float: right;
}

#plus {
  display: inline-block;
  margin-left: 10px;
}

#plus h1 {
  font-weight: normal;
  margin-top: 5px;
}

#profile {
  display: inline-block;
  margin-left: 10px;
}

.body {
  padding-top: 15px;
}

.profile-pic {

}

.profile-pic img {
  width: 230px;
  height: 230px;
  border-radius: 6px;
}

.profile-pic h1 {
  font-size: 26px;
  line-height: 30px;
}

.profile-pic h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  color: #666;
}

.profile-pic p {
  font-size: 14px;
}

#top-border {
  border-top: 1px solid #e5e5e5;
  padding-top: 12px;
}

#email {
  color: #4078c0;
}

#bottom-border {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 12px;
}

.profile-pic h3 {
  font-size: 16px;
  margin: 15px 0;
}

.tabs {
  border-bottom: 1px solid #eee;
}

.tabs,
.contributions-tab,
.repositories-tab,
.public-activity-tab {
  display: inline-block;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
}

.repositories-tab {
  border: 1px solid #eee;
  border-bottom: none;
  padding-right: 15px;
  padding-left: 15px;
}

.edit-profile-button {
  display: inline-block;
  margin-left: 255px;
}


.search-within-tab {
  display: inline-block;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.search-repos {
  display: inline-block;
}

#search-repos {
  display: inline-block;
}

#repo-search-bar {
  display: inline-block;
}

.search-within-tab button {
  display: inline-block;
}

.links-within-tab {
  display: inline-block;
  margin-left: 125px;
}

.links-within-tab a {
  margin-right: 10px;
}

.links-within-tab button {
  background-color: #60b044;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

.repository-list{
  padding: 30px 0;
  border-bottom: 1px solid #eee;
}

.js-repository-tab {

}

.js-repo-name {
  font-size: 20px;
  line-height: 1.2;
  list-style: none;
  color: #4078c0;
  font-weight: bold;
  padding-top: 20px;
}

.js-time-updated {
  font-size: 13px;
  color: #888;
  margin-top: 8px;
  margin-bottom: 0;
  list-style: none;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}
